<div class="row">
    <div class="col-sm-12">
        <div class="form-group">{{ text_spei_details }}</div>
    </div>
</div>

<div class="buttons">
    <div class="pull-right">
        <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
</div>

<script type="text/javascript">
    $('#button-confirm').on('click', function()
    {
        $.ajax({
            type: 'post',
            url: 'index.php?route=extension/payment/compropago_spei/confirm',
            data:
            {
                provider: $('#provider').val()
            },
            beforeSend: function()
            {
                $('#button-confirm').button('loading');
            },
            complete: function()
            {
                $('#button-confirm').button('reset');
            },
            success: function(json)
            {
                try
                {
                    if (json.status === 'success' && json.redirect ) location = json.redirect;
                    else throw json.message;
                }
                catch (err)
                {
                    alert( 'Error: ' + err );
                }
            },
            error: function(xhr, ajaxOptions, thrownError)
            {
                alert(`${thrownError}\r\n+${xhr.statusText}\r\n${xhr.responseText}`);
            }
        });
    });
</script>
