/**
 * @author Eduardo Aguilar <eduardo.aguilar@compropago.com>
 */
.cpprovider-select{
    margin-top: 1em;
}

.cpprovider-select ul{
    padding-top: 1rem;
    margin: 0 auto;
}

.cpprovider-select ul li{
    list-style: none;
    text-decoration: none;
    float: left;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
}

.cpprovider-select ul li input[type=radio]{
    display: none;
    position: absolute;
}

.cpprovider-select ul li img{
    border-radius: 4px;
    opacity: 0.6;
    transition-property: all;
    transition-duration: 0.4s;
}

.cpprovider-select ul li img:hover{
    opacity: 1;
}

.cpprovider-select ul li input[type=radio]:checked + label img{
    -webkit-box-shadow: 0 0 5px 3px rgba(0,170,239,1);
    -moz-box-shadow: 0 0 5px 3px rgba(0,170,239,1);
    box-shadow: 0 0 5px 3px rgba(0,170,239,1);
    opacity: 1;
}